{% extends 'layout.html.twig' %}

{% block title %}Users {% endblock %}

{% block body %}
<h1>Users</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Role</th>
        <th>Login</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles|join(', ') }}</td>
        <td> <a href="{{ path('app_login_redirect', {'_switch_user': user.email}) }}">Login </a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
